$primary: PaleGoldenrod;
$secondary: NavajoWhite;
$info: PaleGreen;
$light: MintCream;
$dark: MidnightBlue;
$warning: MediumVioletRed;

.nav-link{
    color: $secondary;
}



// // $nav-link-color: $secondary;
// // $nav-link-font-size: 2.4rem;
// // $navbar-dark-color: $warning;
