$primary:  PaleGoldenrod;
$secondary: NavajoWhite;
$info: PaleGreen;
$light: MintCream;
$dark: MidnightBlue;
$warning: MediumVioletRed;

$btn-color: $warning;
$btn-link-color: $secondary; 

$body-text-align:  $dark;
$body-color: $dark;
$body-bg: $dark;

$accordion-color: $warning;
$accordion-bg: $secondary;
$accordion-button-color: $dark;

$form-label-font-size: 1.6rem;
$form-label-color: $primary;

$input-bg: $secondary;

$form-label-font-style: sans-serif;

$badge-color: $primary; 

$badge-font-size: 0.8em;
$badge-font-weight: bold;

$nav-link-color: $secondary;
$nav-link-font-size: 1.4rem;
$navbar-dark-color: $warning;

@import 'node_modules/bootstrap/scss/bootstrap.scss';